FIREBASE_WEB_API_KEY=DEFAULT_FIREBASE_WEB_API_KEY
GEMINI_API_KEY=DEFAULT_GEMINI_API_KEY
PAYSTACK_PUBLIC_KEY=DEFAULT_PAYSTACK_PUBLIC_KEY
PREPZA_BACKEND_URL=DEFAULT_PREPZA_BACKEND_URL
SQUAD_PAYMENT_LINK=DEFAULT_SQUAD_PAYMENT_LINK
SUPABASE_ANON_KEY=DEFAULT_SUPABASE_ANON_KEY
SUPABASE_URL=DEFAULT_SUPABASE_URL