FIREBASE_WEB_API_KEY=dummy_firebase_key
GEMINI_API_KEY=dummy_gemini_key
PAYSTACK_PUBLIC_KEY=pk_test_dummy
PREPZA_BACKEND_URL=https://api.prepza.app
SQUAD_PAYMENT_LINK=https://pay.squadco.com/link/EMVC5F