FIREBASE_WEB_API_KEY=YOUR_FIREBASE_WEB_API_KEY
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
PAYSTACK_PUBLIC_KEY=YOUR_PAYSTACK_PUBLIC_KEY
PREPZA_BACKEND_URL=YOUR_PREPZA_BACKEND_URL
SQUAD_PAYMENT_LINK=YOUR_SQUAD_PAYMENT_LINK
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_URL=YOUR_SUPABASE_URL